h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 30px;
}

body {
    text-align: center;
}
}

img {
    text-align: center;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999
}

p {
    font-size: 25px;
}

body {
    text-align: center;
}

h6 {
    font-size: 30px;
}

h7 {
    font-size: 30px;
}
